.experiences-container {
 text-align: center;

  top: 80px;
  width: 60vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 200px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin: auto;
  max-height: calc(100vh - 250px);
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: scroll;

}
.MuiTabs-flexContainer {
  justify-content: space-evenly;
}
.MuiTab-textColorPrimary {
  color: azure !important;
  font-size: 1.2rem !important;
}
.MuiTabs-indicator {
  background: none !important;
  -webkit-background-clip: text;
  background-clip: text;

  color: #00fed7 !important;
}
.Mui-selected {
  background: -webkit-linear-gradient(#00fed7, #8cfae9);
  -webkit-background-clip: text;
  background-clip: text;

  color: #00fed7 !important;
  border-bottom:2px solid #00fed7   !important;
}

.tab-panel {
  height: 100% !important;
  
  overflow-y: scroll;
  overflow-x: none;
}
.header {
  width: 100%;
  height: 7.5%;
  display: flex;
  font-size: calc(1vh + 1vw);
  align-items: center;
  justify-content: center;
}
.link {
  color: #62efff;
  cursor: pointer;
  position: relative;
  transition: background-size 0.2s ease;
  background-size: 0% 0.1em;
  text-decoration: none;
  background-image: linear-gradient(#00fed7, #8cfae9);
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 100%;
}
.date {
  color: rgba(190, 190, 190, 0.7);
  width: 100%;
  display: flex;
  font-size: calc(0.6vh + 0.6vw);
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
}
.date div {
  color: rgba(190, 190, 190, 0.7);
}
.ul {
  width: 90%;
  text-align: left;
  margin: auto;
  color: rgba(240, 240, 240, 0.8);
  font-size: calc(0.7vh + 0.5vw) !important;
  list-style: none;
  display: block;
  margin: auto;

  list-style: none;
}
.li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  display: list-item;
  text-align: -webkit-match-parent;
}
.li::before {
  top: -2px;
  left: 0;
  color: #00fed7;
  content: "▹";
  display: inline-block;
  position: absolute;
  font-weight: bold;
  vertical-align: middle;
}
.ul2 {
  width: 90%;
  text-align: left;
  margin: auto;
  color: rgba(240, 240, 240, 0.8);
  font-size: calc(0.7vh + 0.5vw) !important;
  list-style: none;
  display: block;
  margin-left: 60px;
  list-style: none;
}

.tab-panel-content {
  width: 40%;
  height: fit-content !important;
  min-height: 100%;
  border: 1px solid #00fed7;
  border-radius: 20px;
}

@media only screen and (max-width: 950px) {
  .experiences-container {
    top: 110px;
    width: 98vw;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc((var(--vh, 1vh) * 100) - 160px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin: auto;
    max-height: calc(75vh );
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: hidden;
  }
  .tab-panel {
    height: calc((var(--vh, 1vh) * 100) - 220px);
  }
  .tab-panel-content {
    width: 100% !important;
    padding-top: 10px;
    min-height: 57vh !important;
    height: fit-content !important;
    border: 1px solid #00fed7;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: none;
  }
  .ul {
    font-size: calc(1vh + 2vw) !important;
  }
  .ul2 {
    font-size: calc(1vh + 2vw) !important;
  }
  .date div {
    font-size: calc(1.5vh + 1vw) !important;
    margin-top: 10px;
  }
  .header {
    font-size: calc(2vh + 1.5vw);
    align-items: center;
    justify-content: center;
  }
}
