.MuiFormControl-root{
    width: 100%;
}
.form_group{
    margin-bottom: 10%;
}
.for{
    width: 100%;
    height: 100%;
    border: 1px solid #00fed7;
    padding: 3%;
    border-radius: 30px;
}
#message{
    width: 100%;
    height: 10vh !important;
}
.MuiInputBase-colorPrimary{
color: #fff !important;
}

.MuiInputBase-inputMultiline{
    height: 20% !important;
}
.MuiFormLabel-root.Mui-focused {
    color: #00fed7 !important;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #00fed7 !important;
  }
  .MuiOutlinedInput-root{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 20px !important;
   
  }
  .MuiFormLabel-root{
    color: #00fed7 !important;
  }
  #testen{
    border:1px solid #00fed7 !important;
    color: #00fed7 !important;
    border-radius: 20px !important;
    width: 10% !important;
    min-width: 200px !important;
    height: 5vh !important;
    min-height: 50px !important;
    max-width: 90% !important;
    background: rgba(0, 0, 0, 0.5);
    
  }