.title {
 width: 100vw;
  max-height: 50px;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  text-align: center;
  justify-content: baseline;
  line-height: 2;
  text-transform: uppercase;
margin-left: calc(22%);
  top: 30px;
  left: calc(((100vw - 80vw) / 2) + 30px);
  background: -webkit-linear-gradient(#00fed7, #8cfae9);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 950px) {
  .title {
    margin-left: 0;
    min-height: 50px;
    max-height: 50px;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    text-align: center;
    justify-content: baseline;
    line-height: 2;
    text-transform: uppercase;
    position: absolute;
    top: calc(((var(--vh, 1vh) * 100) - 800px));
    left: 30px;
    background: -webkit-linear-gradient(#00fed7, #8cfae9);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}
