* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  
}

.container .stop {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
 position: relative;
 

 
}
.container .home{
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
 position: relative;
 display: flex;
 align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.MuiStepConnector-lineHorizontal {
  margin-top: 8px !important;
}
