* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.container .stop {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  position: relative;
}
.awssld {
  --organic-arrow-color:#000000 !important;

  
}
.container .home {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  position: relative;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.MuiStepConnector-lineHorizontal {
  margin-top: 8px !important;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 950px) {
  .Nav{
    display: none;
  }
}
