* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
  overscroll-behavior: none;

}
html {

  
}
body {
  
  overflow-x: hidden;
  position: fixed;
 
}

#tsparticles {
  position: fixed;
  z-index: -1;

}
canvas{
  
background: linear-gradient(140deg, rgb(47, 102, 105) 0%, rgb(65, 142, 146) 50%, rgba(0,212,255,1) 100%);
}

.awssld__content{
  background: none !important;
}
.App{
 overflow: hidden;
}
