.aboutme-container {
  text-align: center;
  position: relative;
  top: 80px;
  width: 80%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 200px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin: auto;
  max-height: calc(100vh - 200px);
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: scroll;
}
#aboutme{
  font-size: calc(1vh + 1vw);

  font-weight: 700;


}

.color{
  background: -webkit-linear-gradient(#00fed7, #8cfae9);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

@media only screen and (max-width: 950px) {
  #sphere {
    display: none;
  }

  #aboutme{
    font-size: calc(1vh + 3vw);
    width: 100% !important;
  }

  .aboutme-container {
    position: relative;
    top: 110px;
    width: 98%;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc((var(--vh, 1vh) * 100) - 300px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin: auto;
    max-height: calc(100vh - 330px);
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
  }
}
